@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.logo{
    height: 70px;
    width: 150px;
    cursor: pointer;
    object-fit: contain;
}

.navbar{
    background-color: #ffffff;
}

.container-fluid{
    padding: 0%;
    margin: 0%;
}

.btn:focus {
    box-shadow: none;
}

.navSearch:focus{
    box-shadow: none;
}


.text{
    color: #827ffe;
    margin: 3% 0% 7% 0%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size:4em;
}


.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #DAE0E2;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.5em;
    }

    .search_input{
    color: #000000;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:#827ffe;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #827ffe;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }