*{
    padding: 0%;
    margin: 0%;
}

.content{
    justify-content: center;
    height: 100vh;
}

.image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.col-12{
    margin: 0%;
    padding: 0%;
}

.details{
    justify-content: center;
}

.seat,.option{
    width: 20%; 
    margin: 2%;
    text-align: center;
    cursor: pointer;
}


.option{
    padding: 1% 0% 1% 0%;
    font-size: 1.3em;
    border-radius: 10px;
    background-color: #DAE0E2;
}

.datePicker{
   justify-content: center;
   margin: 5% 0% 3% 0%;
}

.date,.time{
    outline: none;
    border: none;
    width: 20%;
    padding: .5% 1% .5% 1%;
    background-color: #DAE0E2;
    /* border-radius: 50px; */
}

.time{
    width: 20%;
    margin: 0% 0% 0% 3%;
}

.button{
    margin: 0% 0% 0.5% 2%;
    border: none;
    outline: none;
    font-size: 1.2em;
    background-color: #FFFFFF;
}

.button:hover{
    color: #0A79DF;
    }
.button:focus {
    outline: 0;
    box-shadow: none!important;
}

.book{
    justify-content: center;
    margin: 5% 0% 5% 0%;
}

.resetSeat,.cancel{
    margin: 0% 0% 0% 3%;
}

.confirm{
    margin: 1% 0% 5% 0%;
}

.fa-cut{
    font-size: 2rem;
    color: #A4B0BD;
}

.name{
    font-size: 2rem;
}

.salon{
    text-align: center;
}