.logo{
    height: 70px;
    width: 150px;
    cursor: pointer;
    object-fit: contain;
}

.navbar{
    background-color: #ffffff;
}

.container-fluid{
    padding: 0%;
    margin: 0%;
}

.btn:focus {
    box-shadow: none;
}

.navSearch:focus{
    box-shadow: none;
}

.container-fluid{
     background-color: #EAF0F1; 
}

.content{
    padding: 0%;
    margin: 0%;
    height: 70vh;
    width: 100%;
}



