*{
    padding:0%;
    margin: 0%;
}

.content{
    background-color: #7CEC9F;
}

.imageContainer{
    background-color: #ffffff;
    height: 100vh;
    align-items: center;
}

.signupTitle{
    text-align: center;
    margin: 0% 0% 10% 0%;
}

.image ,.logo{
    object-fit: contain;
    padding: 0% 0% 0% 0%;
  }

.signupButton,.signinButton,.spinupButton,.spininButton{
 background-color: #2ecc72;
  padding: 2% 10% 2% 10%;
  border-radius: 50px;
  font-size: 1.3em;
  cursor: pointer;
  margin: 10% 0% 0% 0%;
}

.spinupButton,.spininButton{
  padding: 2% 13% 2% 13%;
  margin: 10% 0% 0% 0%;
  color: #ffffff;
}

.form-control{
    padding: 5% 2% 5% 2%;
    border-radius: 50px;
    text-align: center;
    outline: none;
}

.progress{
    margin-top: 3%;
    width: 70%;
    height: 5px;
   margin : 3% auto 0% auto;
}

.form-group{
    margin : 7% 0% 0% 0%;
}

.member{
    margin: 10%;
    text-align: left;
}

.signupButton:hover{
color: #ffffff;
background-color: #1BCA9B;
}

.signinButton:hover{
color: #ffffff;
background-color: #1BCA9B;   
}
.signupText{
    color: #ffffff;
    cursor: pointer;
}

.signupText:hover{
    color: #0A79DF;
}

.signinText{
    color: #ffffff;
    cursor: pointer;
}

.signinText:hover{
    color: #0A79DF;
}

.formControl:focus{
border:0;
}

.passwordError,.usernameError,.signinError{
    color: #E71C23;
  }


