*{
    padding: 0%;
    margin: 0%;
}
.row{
    justify-content: center;
}
.content{
    text-align: center;
}

.orderImage{
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.detail{
    background-color: #F0DF87;
    height: 50px;
    align-items: center;
}