*{
    padding: 0%;
    margin: 0%;
}
.row{
    justify-content: center;
}
.content{
    text-align: center;
    margin: 5% 0% 0% 0%;
}

.orderImage{
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.savings{
    height: 10%;
}
.detail{
    background-color: #F0DF87;
}

.payment{
    background-color: #74B9FF;
    margin: 3% 0% 0% 0%;
}
